{% extends 'base.html.twig' %}

{% set page = {
  title: "Kraambezoek voor "~info.name~" | Bezoek inplannen",
  class: "show-page"
} %}

{% block contents %}
    <div id="calendar" class="plane">
        <div style="background-image: url(/img/bg-beschuit.jpg);" class="top"></div>
        
        <h1><span class="text-light">Kraambezoek voor</span> {{ info.name }}</h1>
        
        <h3>Plan je bezoek</h3>
        <table class="table table-bordered calendar" data-tablesaw-mode="swipe">
            <thead>
                <tr>
                    <th data-tablesaw-priority="persist"></th>
                    {% for date in calendar.dates %}
                        <th>{{ date|date('d-m') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for time,enabled in calendar.timeSlots %}
                    <tr>
                        <th>{{ time }}</th>
                        {% for date in calendar.dates %}
                            {% set state = calendar.slotState(date, time) %}
                            <td class="{{ state }}" data-date="{{ date }}" data-time="{{ time }}" {% if state == 'available' %}title="Plan een bezoek voor {{ date|localdate('long') }} om {{ time }}"{% endif %}>
                                {% if state == 'taken' %}
                                    {% set visit = calendar.slotVisit(date, time) %}
                                    {{ visit.name }}
                                    {% if manage and time == visit.time %}<a href="/page/{{ info.reference }}/delete-visit?date={{ date }}&amp;time={{ time }}" class="close" title="Bezoek van {{ visit.name }} verwijderen" onclick="return window.confirm('Weet je zeker dat je het bezoek van {{ visit.name }} op {{ date|localdate('long') }} om {{ time }} wilt verwijderen?');">&times;</a>{% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="/page/{{ info.reference }}">&laquo; terug</a>
    </div>
    
    <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="modal-form" method="post" action="/page/{{ info.reference }}/calendar">
                    <input type="hidden" class="date" name="date">
                    <input type="hidden" class="time" name="time">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Bezoek inplannen voor <span class="date"></span> om <span class="time"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputName">Bezoekduur</label>
                            <input type="text" class="form-control" disabled value="{% if info.duration >= 60 %}{{ (info.duration / 60)|round(0, 'floor') }} uur {% endif %}{% if info.duration % 60 != 0 %}{{ info.duration % 60 }} minuten{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Wat is uw/jullie naam?</label>
                            <input type="text" name="name" class="form-control" id="inputName" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Inplannen</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/tablesaw.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/calendar.js"></script>
    <script src="/js/tablesaw.js"></script>
    <script src="/js/tablesaw-init.js"></script>
{% endblock %}
