{% extends "email/base.html.twig" %}
{% import "email/base.html.twig" as my %}

{% block content %}
    <p {{ my.style }}>Hoi {{ info.parent_name }},</p>

    <p {{ my.style }}>
        {{ visit.name|capitalize }} {{ visit.name|multiple_people ? 'hebben' : 'heeft' }} heeft het bezoek op <strong>{{ visit.date|localdate }}</strong> van <strong>{{ visit.time }}</strong>
        tot {{ visit.time_until }} afgezegd.
    </p>

    <p {{ my.style('14px', '20px 0 20px 0') }}>
        <a href="{{ info.manage_link }}">&raquo; Beheer {{ info.parent_name|multiple_people ? 'jullie' : 'jouw' }} pagina</a>
    </p>

    <p {{ my.style }}>
        Met vriendelijke groet,<br>
        Aline &amp; Arnold<br>
        &mdash; opkraambezoek.nl
    </p>
{% endblock %}
