{% extends 'base.html.twig' %}

{% set page = {
  title: "Pagina voor de zieke aanmaken (stap 1)",
  class: "create-page"
} %}

{% block contents %}
    <form method="post">
        <h1>Pagina voor het kraambezoek aanmaken</h1>
        <p class="steps">Stap 1 van 2</p>
        
        <section id="basic-info">
            <div class="form-group">
                <label for="inputName">Om wie gaat het?</label>
                <input type="text" name="name" value="{{ info.name }}" class="form-control" id="inputName" required placeholder="Naam van de persoon">
            </div>
            <div class="form-group">
                <label for="inputLocation">Waar is deze persoon opgenomen?</label>
                <input type="text" name="location" value="{{ info.location }}" class="form-control" id="inputLocation" placeholder="Ziekenhuis of andere locatie" list="hospitals">
                <datalist id="hospitals">
                    {% for hospital in hospitals %}
                        <option value="{{ hospital.name }}, {{ hospital.city }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="inputFloor">Op welke kamer ligt deze persoon?</label>
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" name="floor" value="{{ info.floor }}" class="form-control" id="inputFloor" placeholder="Afdeling">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="room" value="{{ info.room }}" class="form-control" id="inputRoom" placeholder="Kamernummer">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription">Wat is er aan de hand?</label>
                <textarea class="form-control" name="description" id="inputDescription" maxlength="1000" rows="6" required placeholder="Waarom is deze persoon opgenomen? Wat zijn andere belangrijke dingen die de familie moet weten? (max 1000 tekens)">{{ info.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="inputContact">Hoe kan de familie op de hoogte blijven?</label>
                <textarea class="form-control" name="contact" id="inputContact" maxlength="250" rows="3" placeholder="Bijvoorbeeld via een facebookpagina of een ander familielid">{{ info.contact }}</textarea>
            </div>
            <div class="form-group">
                <label for="inputEmail">Wat is uw e-mailadres?</label>
                <input type="email" name="email" value="{{ info.email }}" class="form-control" id="inputEmail" required placeholder="Uw e-mailadres">
            </div>
        </section>
            
        <section>
            <button type="submit" class="btn btn-primary next pull-right" formaction="/add/step2">Volgende &raquo;</button>
        </section>
    </form>
{% endblock %}
