{% extends 'base.html.twig' %}

{% set page = {
  title: "Pagina voor het kraambezoek aanmaken (stap 2)",
  class: "create-page"
} %}

{% block contents %}
    <form method="post">
        <h1>Pagina voor het kraambezoek aanmaken</h1>
        <p class="steps">Stap 2 van 2</p>

        <section id="page-info">
            <div class="form-group">
                <label for="inputDescription">Wat wil je vertellen aan het bezoek?</label>
                <textarea class="form-control" name="description" id="inputDescription" maxlength="500" rows="6" required placeholder="Welkomsbericht (max 500 tekens)">{{ info.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="inputGifts">Wat zijn de wensen voor kraamcadeautjes?</label>
                <textarea class="form-control" name="gifts" id="inputDescription" maxlength="500" rows="4" placeholder="Cadeautips en ideeën (optioneel)">{{ info.gifts }}</textarea>
            </div>
        </section>
            
        <section id="basic-info">
            <div class="form-group">
                <label for="inputName">Wat is jouw/jullie naam?</label>
                <input type="text" name="parent_name" value="{{ info.parent_name }}" class="form-control" id="inputName" required placeholder="Naam van de ouder(s)">
            </div>
            <div class="form-group">
                <label for="inputStreet">Wat is het bezoekadres?</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" name="street" value="{{ info.street }}" class="form-control" id="inputStreet" placeholder="Straat en huisnummer (optioneel)">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="postalcode" value="{{ info.postalcode }}" class="form-control" id="inputPostalcode" placeholder="Postcode">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="city" value="{{ info.city }}" class="form-control" id="inputCity" placeholder="Woonplaats">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Wat is jouw e-mailadres?</label>
                <input type="email" name="email" value="{{ info.email }}" class="form-control" id="inputEmail" required placeholder="Jouw e-mailadres">
            </div>
        </section>
        
        <section class="text-right">
            <button type="submit" class="btn btn-primary btn-lg next" formaction="/create/finish">Voltooien</button>
            <button type="submit" class="btn btn-default pull-left previous" formaction="/create/step1">&laquo; Vorige</button>
        </section>
    </form>
{% endblock %}
