{% extends 'base.html.twig' %}

{% set page = {
  title: "Pagina voor het kraambezoek aanmaken (stap 1)",
  class: "create-page"
} %}

{% block contents %}
    <form method="post">
        <h1>Pagina voor het kraambezoek aanmaken</h1>
        <p class="steps">Stap 1 van 2</p>

        <section id="basic-info">
            <div class="form-group">
                <label for="inputName">Wat is de naam van de baby?</label>
                <input type="text" name="name" value="{{ info.name }}" class="form-control" id="inputName" required placeholder="Naam van de baby">
            </div>
            <div class="form-group">
                <label for="inputDateOfBirth">Wanneer is de baby geboren?</label>
                <input type="text" name="date_of_birth" value="{{ info.date_of_birth }}" class="form-control date" id="inputDateOfBirth" placeholder="Geboortedatum (optioneel)" data-mask="00-00-0000">
            </div>
        </section>
        
        <section id="visiting">
            <div class="form-group">
                <label>Welke periode kan men op kraambezoek komen?</label>
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="input-group date">
                            <span class="input-group-addon">van</span>
                            <input type="text" name="date_from" value="{{ info.date_from|default('now')|date('d-m-Y') }}" class="form-control date-from" required placeholder="datum" data-mask="09-09-0000">
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class='input-group date' id='datetimepicker7'>
                            <span class="input-group-addon">tot</span>
                            <input type="text" name="date_to" value="{{ info.date_to }}" class="form-control date-to" required placeholder="datum" data-mask="09-09-0000">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="visiting-hours">
            <div class="form-group">
                <label>Wordt er 's ochtends bezoek ontvangen?</label>
                <div class="row row-toggle {{ info.hasMorning== "yes" ? 'on' : '' }}">
                    <div class="col-sm-2">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{ info.hasMorning== "yes" ? 'active' : '' }}">
                                <input type="radio" name="morning" value="yes" {{ info.hasMorning== "yes" ? 'checked' : '' }} autocomplete="off" required> ja
                            </label>
                            <label class="btn btn-default {{ info.hasMorning== "no" ? 'active' : '' }}">
                                <input type="radio" name="morning" value="no" {{ info.hasMorning== "no" ? 'checked' : '' }} autocomplete="off" required> nee
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">van</span>
                            <input type="text" class="form-control" name="morning_from" value="{{ info.morning_from }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasMorning== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">tot</span>
                            <input type="text" class="form-control" name="morning_to" value="{{ info.morning_to }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasMorning== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-4 col-toggle">
                        <div class="input-group input-time">
                            <span class="input-group-addon">max</span>
                            <input type="text" class="form-control" name="morning_amount" value="{{ info.morning_amount }}" placeholder="aantal" pattern="\d+">
                            <span class="input-group-addon">bezoek(en)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Wordt er 's middags bezoek ontvangen?</label>
                <div class="row row-toggle {{ info.hasAfternoon== "yes" ? 'on' : '' }}">
                    <div class="col-sm-2">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{ info.hasAfternoon== "yes" ? 'active' : '' }}">
                                <input type="radio" name="afternoon" value="yes" {{ info.hasAfternoon== "yes" ? 'checked' : '' }} autocomplete="off" required> ja
                            </label>
                            <label class="btn btn-default {{ info.hasAfternoon== "no" ? 'active' : '' }}">
                                <input type="radio" name="afternoon" value="no" {{ info.hasAfternoon== "no" ? 'checked' : '' }} autocomplete="off" required> nee
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">van</span>
                            <input type="text" class="form-control" name="afternoon_from" value="{{ info.afternoon_from }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasAfternoon== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">tot</span>
                            <input type="text" class="form-control" name="afternoon_to" value="{{ info.afternoon_to }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasAfternoon== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-4 col-toggle">
                        <div class="input-group input-time">
                            <span class="input-group-addon">max</span>
                            <input type="text" class="form-control" name="afternoon_amount" value="{{ info.afternoon_amount }}" placeholder="aantal" pattern="\d+">
                            <span class="input-group-addon">bezoek(en)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Wordt er 's avonds bezoek ontvangen?</label>
                <div class="row row-toggle {{ info.hasEvening== "yes" ? 'on' : '' }}">
                    <div class="col-sm-2">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{ info.hasEvening== "yes" ? 'active' : '' }}">
                                <input type="radio" name="evening" value="yes" {{ info.hasEvening== "yes" ? 'checked' : '' }} autocomplete="off" required> ja
                            </label>
                            <label class="btn btn-default {{ info.hasEvening== "no" ? 'active' : '' }}">
                                <input type="radio" name="evening" value="no" {{ info.hasEvening== "no" ? 'checked' : '' }} autocomplete="off" required> nee
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">van</span>
                            <input type="text" class="form-control" name="evening_from" value="{{ info.evening_from }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasEvening== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-3 col-toggle">
                        <div class="input-group">
                            <span class="input-group-addon">tot</span>
                            <input type="text" class="form-control" name="evening_to" value="{{ info.evening_to }}" data-mask="09:00" placeholder="tijd" pattern="\d?\d:\d\d" {{ info.hasEvening== "yes" ? 'required' : '' }}>
                        </div>
                    </div>
                    <div class="col-sm-4 col-toggle">
                        <div class="input-group input-time">
                            <span class="input-group-addon">max</span>
                            <input type="text" class="form-control" name="evening_amount" value="{{ info.evening_amount }}" placeholder="aantal" pattern="\d+">
                            <span class="input-group-addon">bezoek(en)</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="duration">
            <div class="form-group">
                <label>Hoe lang mag een bezoek duren?</label>
                <div class="input-group input-time">
                    <input type="text" class="form-control" name="duration[hours]" value="{{ info.duration ? (info.duration / 60)|round(0, 'floor') : 0 }}" data-mask="0">
                    <span class="input-group-addon">uur</span>
                    <input type="text" class="form-control" name="duration[minutes]" value="{{ info.duration ? info.duration % 60 : 0 }}" data-mask="09" pattern="[0-5]?\d">
                    <span class="input-group-addon">minuten</span>
                </div>
            </div>
        </section>
        
        <section class="text-right">
            <button type="submit" class="btn btn-primary next" formaction="/create/step2">Volgende &raquo;</button>
        </section>
    </form>
{% endblock %}
