{% extends "email/base.html.twig" %}
{% import "email/base.html.twig" as my %}
{% do email.setSubject("De kraambezoekpagina van "~info.name) %}

{% block content %}
    <p {{ my.style }}>Hoi {{ info.parent_name }},</p>

    <p {{ my.style }}>
        Je hebt een pagina aangemaakt voor het kraambezoek:<br>
        <div style="font-size: 14px; line-height: 1.5; font-weight: bold; display: block; padding: 5px 5px; text-align: center; background-color: #eee; border: 1px solid #ccc; border">{{ info.link }}</div>
    </p>
    
    <p {{ my.style() }}>
        Deze pagina is op dit moment enkel voor jou zichtbaar. Na de geboorte kan je <a href="{{ info.link }}?start=publish&amp;manage={{ info.manage_token }}">de pagina publiceren</a>.
    </p>
    
    <p {{ my.style }}>
        Met vriendelijke groet,<br>
        Aline &amp; Arnold<br>
        &mdash; opkraambezoek.nl
    </p>
    
    <p {{ my.style('14px', '20px 0 0 0') }}>
        <a href="{{ info.link }}?manage={{ info.manage_token }}">&raquo; Beheer uw pagina</a>
    </p>
{% endblock %}
