{% extends 'base.html.twig' %}

{% set page = {
  title: "Kraambezoek voor "~info.name,
  class: "show-page"
} %}

{% block contents %}
    <div id="info" class="plane">
        <div style="background-image: url(/img/bg-beschuit.jpg);" class="top"></div>

        <h1><span class="text-light">Kraambezoek voor</span> {{ info.name }}</h1>

        <p>Geboren op {{ info.date_of_birth|localdate('full') }}</p>

        {{ info.description|paragraph|linkify('http', [], 'all') }}

        <p>&mdash; {{ info.parent_name }}</p>

        <h3>Bezoek</h3>
        <p>
            {% if info.date_from|date('Y-m-d') > 'now'|date('Y-m-d') %}
                Vanaf {{ info.date_from|localdate('full') }} kan er dagelijks kraambezoek worden ontvangen
            {% else %}
                Er kan dagelijks kraambezoek worden ontvangen
            {% endif %}
            {% for time in info.calendar.visitingTimes %}{% if not loop.first %} {{ loop.last ? 'en' : ',' }}{% endif %} tussen {{ time.from }} en {{ time.to}}{% endfor %}.
        </p>

        <div class="plan-visit text-center">
            <a class="btn btn-lg btn-primary {{ info.prepare ? 'disabled' : ''}}" {% if info.prepare %}href="#"{% else %}href="/page/{{ info.reference }}/calendar"{% endif %}>Plan een bezoek</a>
            {% if info.prepare %}<div class="text-muted"><em>Inplannen is beschikbaar na publicatie</em></div>{% endif %}
        </div>

        {% if info.street %}
            <h4>Adres</h4>
            <p>
                {{ info.street }}<br>
                {{ info.postalcode }} {{ info.city }}<br>
                <a href="https://www.google.nl/maps?q={{ (info.street~', '~info.city)|url_encode }}" target="_blank">(op de kaart)</a>
            </p>
        {% endif %}

        {% if info.contact %}
            <h4>Voor meer informatie</h4>
            <p>
                {{ info.contact|nl2br|linkify('http', [], 'all') }}
            </p>
        {% endif %}

        {% if info.street and false %}
            <a class="map" href="https://www.google.nl/maps?q={{ (info.street~', '~info.city)|url_encode }}" target="_blank">
                <img src="https://maps.googleapis.com/maps/api/staticmap
                     ?zoom=14&size=640x180&scale=2&maptype=roadmap
                     &markers=color:blue%7C{{ (info.street~', '~info.city)|url_encode }}
                     &key={{ google_api_key }}"
                     >
            </a>
        {% endif %}
    </div>
    
    {% if info.gifts %}
        <div id="gifts" class="plane">
            <h3>Wensen voor kraamcadeautjes</h3>
            <p>
                {{ info.gifts|paragraph|linkify('http', [], 'all') }}
            </p>
        </div>
    {% endif %}

    {% if manage %}
        <div id="manage" class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted">
                    <em>Dit gedeelte is niet zichtbaar voor uw gasten</em>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="inputLink">Deel deze link met vrienden en familie</label>
                    <div class="input-group">
                        <input type="text" name="name" value="{{ link }}" class="form-control" id="inputLink" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default clipboard" type="button" data-clipboard-demo data-title="gekopiëerd!" data-trigger="manual" data-clipboard-target="#inputLink">
                                <img class="clippy" src="/img/clippy.svg" width="13" alt="Copy to clipboard">
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {% if info.prepare %}<a class="btn btn-primary" href="/create/step1?start=publish">Publiseren</a>{% endif %}
                <a class="btn btn-default" href="/create/step1">Pagina bewerken</a>
                <a class="text-danger pull-right" href="/delete">Pagina verwijderen</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
