{% extends 'base.html.twig' %}

{% set page = {
  title: "Ziekenbezoek voor "~info.name,
  class: "show-page"
} %}

{% block contents %}
    <div id="info">
        <h1><span class="text-light">Ziekenbezoek voor</span> {{ info.name }}</h1>
        
        {{ info.description|linkify('http', [], 'all')|paragraph }}
        
        <h3>Bezoek</h3>
        <p>
            {% if info.date_from|date('Y-m-d') > 'now'|date('Y-m-d') %}
                Vanaf {{ info.date_from|localdate('full') }} kan er dagelijks bezoek worden ontvangen
            {% else %}
                Er kan dagelijks bezoek worden ontvangen
            {% endif %}
            {% for time in info.calendar.visitingTimes %}{% if not loop.first %} {{ loop.last ? 'en' : ',' }}{% endif %} tussen {{ time.from }} en {{ time.to}}{% endfor %}.
        </p>
        
        <div class="plan-visit text-center">
            <a class="btn btn-lg btn-primary" href="/page/{{ info.reference }}/calendar">Plan een bezoek</a>
        </div>
        
        {% if info.location %}
            <h4>Locatie</h4>
            <p>
                {% if info.locationAddress %}
                    {{ info.location|preg_replace('/,.*/') }}
                    <br>{{ info.locationAddress }}
                {% else %}
                    {{ info.location }}
                {% endif %}
                {% if info.floor or info.room %}<br>{% endif %}
                {% if info.floor %}Afdeling {{ info.floor|preg_replace('/^afdeling\s+/i') }}{% endif %}{% if info.floor and info.room %}, {% endif %}
                {% if info.room%}kamer {{ info.room|preg_replace('/^kamer\s+/i') }}{% endif %}
            </p>
        {% endif %}
        
        {% if info.contact %}
            <h4>Voor meer informatie</h4>
            <p>
                {{ info.contact|nl2br|linkify('http', [], 'all') }}
            </p>
        {% endif %}
        
        {% if info.locationAddress %}
            <a class="map" href="https://www.google.nl/maps?q={{ info.location|url_encode }}" target="_blank">
                <img src="https://maps.googleapis.com/maps/api/staticmap
?zoom=14&size=640x180&scale=2&maptype=roadmap
&markers=color:blue%7C{{ info.locationAddress|url_encode }}
&key={{ google_api_key }}"
                >
            </a>
        {% endif %}
    </div>
{% endblock %}
